@import url("http://fonts.fontstorage.com/import/roboto.css");

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
.container {
    width: 100vw;
    margin: 0 auto;
}
.header {
    height: 80px;
    &_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;        
    }
    &_text {
        font-weight: 500;
        font-size: 20px;
        line-height: 100px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        text-align: center;
        text-transform: uppercase;
    }
    &_logo {
        width: 111px;
        height: 33px;
        margin-top: 24px;
    }
    &_rightbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
    }
    &_incartnum {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: darkgreen;
        position: relative;
        top: 15px;
        left: -15px;
        text-align: center;
        color: white;
        font-family: 'Roboto';
        font-size: 15px;
        line-height: 24px;
    }
    &_cart {
        width: 36px;
        height: 36px;
        margin-top: 16px;
    }
    &_cartbox {
        width: 85px;
        height: 36px;
        background: #F8F8F8;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 0px;
        margin: 16px;
    }
    &_cartboxtext {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        color: rgba(74, 74, 74, 0.5);
        margin-top: 3px;
    }
    &_incart {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 12px;
        color: #4A4A4A;
        text-align: center;
        margin-top: 2px;
    }
}
.banner {
    &_img {
        height: 468px;
    }
}
.content {
    &_box {
        margin-left: 100px;
        margin-right: 100px;
    }
    &_header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        color: #707070;
        margin-top: 44px;
        text-transform: uppercase;
    }
    &_bigpicture {
        display: none;
        width: 500px;
        height: 500px;
        position: absolute;
        top: 250px;
        left: 250px;
    }
    &_cardbox {
        height: 652px;
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &_card {
        height: 597px;
        width: 373px;
        background: #F1F1F1;
        border: 4px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
    }
    &_left {
        margin-right: 30px;
    }
    &_right {
        margin-left: 30px;
    }
    &_cardimg {
        width: 300px;
        height: 300px;
        margin: 16px 36px 0 36px;
    }
    &_cardimg img {
        width: 300px;
        height: 300px;
    }
    &_cardprice {
        width: 60px;
        height: 41px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        color: #292929;
    }
    &_cardname {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 22px;
        text-align: center;
        color: #404040;
        margin-top: 17px;
    }
    &_carddesc {
        width: 338px;
        height: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #AEAEAE;
        margin-top: 13px;
    }
    &_cardadd {
        width: 338px;
        height: 40px;
        margin-top: 36px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    &_cardnum {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        color: #404040;
        margin-left: 5px;
        margin-right: 5px;
        display: block;
    }
    &_cardminus {
        width: 40px;
        height: 40px;
    }
    &_cardplus {
        width: 40px;
        height: 40px;
    }

}
.shadowbox {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.basket {
//    display: none;
    width: 515px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &_title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1.2px;
        color: #48414E;
        text-transform: uppercase;
        margin: 50px 205px 30px 205px;
    }
    &_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #A3A0A7;
        margin-left: 25px;
    }
    &_content {
        margin: 17px 65px 0 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_img {
        width: 60px;
        height: 60px;
    }
    &_name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 60px;
        text-align: center;
        color: #DD7C69;
    }
    &_price {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 60px;
        text-align: center;
        text-transform: lowercase;
        color: #000000;
    }
    &_qty {
        width: 40px;
        height: 20px;
        margin-top: 20px;
        text-align: center;
    }
    &_address {
        margin-left: 25px;
    }
    &_adrtext {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #A3A0A7;
        margin-left: 25px;
        margin-top: 49px;
    }
    &_input {
        margin-top: 15px;
        width: 465px;
        height: 50px;
        border: none;
        border-bottom: 1px solid #A3A0A7;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #A3A0A7;
    }
    &_comment {
        margin-top: 5px;
        margin-left: 25px;
    }
    &_comtext {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #A3A0A7;
        margin-left: 25px;
        margin-top: 49px;
    }
    &_textarea {
        margin-top: 15px;
        width: 465px;
        height: 150px;
        border: none;
        border-bottom: 1px solid #A3A0A7;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #A3A0A7;
    }
    &_total {
        width: 455px;
        height: 78px;
        background: #DD971A;
        border-radius: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 78px;
        text-align: center;
        letter-spacing: 0.6px;
        text-transform: uppercase;       
        color: #FFFFFF;
        margin-top: 115px;
        margin-left: 30px;
    }
}